html {
   box-sizing: border-box;
}

*, *::before, *::after {
   box-sizing: inherit;
   background-color: #685044;
   font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.container {
   max-width: 1200px;
   margin: 0 auto;  
}

/* ********** title ********** */

.title {
   display: flex;
   width: 100%;
   padding: 20px;
   justify-content: center;
   align-items: center;
}

h1 {
   font-size: 50px;
   color: #EE8434;
   text-shadow: 3px 3px 3px #9B4329;
}

/* ********** menu ********** */

.menu {
   display: flex;
   flex-wrap: wrap;
   width: 100%;
   padding: 20px;
   justify-content: space-around;
   align-items: center;
   border-bottom: 3px solid #000;
   margin-bottom: 20px;
}

.button {
   background-color: #EE8434;
   border: none;
   border-radius: 10px;
   color: #000;
   padding: 16px 32px;
   text-align: center;
   font-size: 16px;
   opacity: 0.6;
   transition: 0.7s;
   box-shadow: 0px 0px 3px 3px rgba(0,0,0,0.9) inset;
   margin-bottom: 10px;
}
 
.button:hover {
   opacity: 1;  
}

label {
   margin-left: 20px;
 }
 

/* ********** main ********** */ 

.box {
   width: 100px;
   height: 100px;
   box-shadow: 0px 0px 3px 3px rgba(0,0,0,0.9) inset;
   margin: 10px;
   border-radius: 10px;
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   align-items: center;
   opacity: 0.6;
   transition: 0.7s;
}

.box:hover {
   opacity: 1;
}

#boxes {
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
}

.bgFizz {
   background-color: #B26E63;
}
.bgBuzz {
   background-color: #9A8C98;
}
.bgFizzBuzz {
   background-color: #EE8434;
}
.bgOther {
   background-color: #C9ADA7;
}